<%= partial "header" %>

<div id="Contents"  class="container">
    <%= partial(:article_header, :locals => {:article => current_article}) %>
    <%= yield %>
    <hr />
    <%= partial(:social, :locals => {:url => 'http://manimani-rider.com' + current_article.url, :title => current_article.title}) %>
    <hr />
    <div id="disqus_thread"></div>
</div>

<%= partial "footer" %>